<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus veritatis atque minus soluta nobis sint non rerum, nesciunt esse dolorum aperiam accusamus iure sapiente doloribus, provident veniam! Voluptas, veritatis illum!</p>
    </div>
</div>