<div class="container-sm mx-4 py-5 bg-light">
    <h1 class="d-2"></h1>
        <p class="lead">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quidem nostrum.
        </p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, earum sed in facere laborum numquam ab nobis esse quaerat. Doloremque cumque magnam provident rerum dolorem non voluptas expedita officiis vel.</p>
        <a href="http://lighnio.github.io" class="btn btn-primary btn-lg">PortFolio</a>
    </h1>
</div>