*{
  font-size: x-large;
}

body {
  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #701f39
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #701f39
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.my-custom-navigation{
  height: 10%;
}

.my-custom-content{
  height: 74%;
}

.my-custom-footer{
  height: 10%;
}
