<footer>
  <div
    class="text-center text-white pt-2 pb-1 mb-auto"
    style="background-color: rgba(0, 0, 0, 0.5);"
  >
    Porfolio:
    <a
      class="text-reset fw-bold"
      href="https://lighnio.github.io"
    >lighnio.github.io</a>
    <p>08/25/2021</p>
  </div>
</footer>